<!DOCTYPE html>
<html ng-app="neel" ng-controller="AppCtrl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title ng-bind="pageTitle">New Edge Engineering Limited.</title>

        <!-- social media tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@newedgeengineer" />
        <meta name="twitter:title" content="New Edge Engineering Limited" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:creator" content="@newedgeengineer" />
        <meta name="twitter:image:src" content="" />
        <meta property="og:title" content="New Edge Engineering Limited" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.newedgeengineering.com/" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta name="description" content="" />
        <!-- Place favicon.ico (with ? to ensure firefox pick this up) and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico?">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <noscript id="deferred-styles">
            <!-- font awesome from BootstrapCDN -->
            <link href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
            <!-- compiled CSS -->
        <link rel="stylesheet" type="text/css" href="neel-web-site-17.01.16.css" />
        </noscript>
        <script>  // <!-- As recommended by google: -->
var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
else window.addEventListener('load', loadDeferredStyles);
        </script>
        <!-- compiled JavaScript -->
        <script type="text/javascript" src="neel-web-site-17.01.16.js" defer></script>

        <!-- it's stupid to have to load it here, but this is for the +1 button -->
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js" async defer>
            { "parsetags": "explicit" }
        </script>
    </head>
    <body>
        <div class="wrap">
            <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href ui-sref="about">New Edge Engineering Ltd</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" collapse="menuCollapsed">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active">
                                <a class="hidden-xs" href ui-sref="about"> <i class="fa fa-home"></i> About </a>
                                <a class="hidden-sm hidden-md hidden-lg" href ui-sref="about" ng-click="menuCollapsed = ! menuCollapsed"> <i class="fa fa-home"></i> About </a>
                            </li>
                            <li ui-sref-active="active">
                                <a class="hidden-xs"  href ui-sref="passion"> <i class="fa fa-info-circle"></i> Passion </a>
                                <a class="hidden-sm hidden-md hidden-lg" href ui-sref="passion" ng-click="menuCollapsed = ! menuCollapsed"> <i class="fa fa-info-circle"></i> Passion </a>
                            </li>
                            <li ui-sref-active="active">
                                <a class="hidden-xs" href ui-sref="clients"> <i class="fa fa-info-circle"></i> Clients </a>
                                <a class="hidden-sm hidden-md hidden-lg" href ui-sref="clients" ng-click="menuCollapsed = ! menuCollapsed"> <i class="fa fa-info-circle"></i> Clients </a>
                            </li>
                            <li ui-sref-active="active">
                                <a class="hidden-xs" href ui-sref="contact"> <i class="fa fa-info-circle"></i> Contact </a>
                                <a class="hidden-sm hidden-md hidden-lg" href ui-sref="contact" ng-click="menuCollapsed = ! menuCollapsed"> <i class="fa fa-info-circle"></i> Contact </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="body">
                <div consent data-ng-class="{ 'consent': $consent.hasNotAgreedYet() }">
                    <div class="container">
                        <div class="row" data-ng-if="$consent.hasNotAgreedYet()">
                            <p id="consent-copy" class="col-xs-9 col-sm-10">To give you the best possible experience this site uses cookies. Continue to use the site if you agree with this</p>
                            <p class="col-xs-1 col-sm-1"><button type="button" class="btn btn-link" data-ng-click="$consent.agree();"><span aria-hidden="true">&times;</span></button></p>
                        </div>
                    </div>
                </div>

                <div class="container" data-ui-view="main"></div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer-inner text-center">
                    <div class="row">
                        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4"></div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.google.com/+NewedgeengineeringLimited"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://twitter.com/newedgeengineer"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/company/new-edge-engineering-ltd"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/New-Edge-Engineering/"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                        </div>
                        <div class="hidden-xs col-sm-3 col-md-4 col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
                        <p class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                             &copy; 2009 - {{ date|date:'yyyy'}} <a href="http://www.newedgeengineering.com">New EdgeEngineering Ltd</a>.<br />A registered as a private limited company in England & Wales No: 06846079, VAT: 973 0618 12
                        </p>
                        <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
